@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-black);
}

h1,
section,
p,
svg{
  transition: background-color 0.5s, color 0.5s;
}


:root{
  --text-black: #333633;
  --primary-color: #faf6e7;
  --primary-pink: #e5a1aa;
  /* Light theme var */
  --color-text-light: #333332;
  --color-background-light: #FAF4E5;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7AD0AC;
  --color-blue-light: #8395CD;
  /* Dark theme var */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #8395CD;
}

.light-theme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
}

.dark-theme{
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
}

/* Experience ------------------------------------------------------- */

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
} */

.experience-canvas{
  width: 100%;
  height: 100%;
}

/* Page ------------------------------------------------------- */

.page{
  z-index:99999;
  width: 100%;
  height: 100vh;
}

.page-wrapper{
  position: relative;
}

/* Toggle Bar ------------------------------------------------------- */
.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 9999999999999999;
}

.sun-wrapper, 
.moon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggle-button{
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}

.slide{
  left: 28px;
}

/* Section Formatting ----------------------------------------- */
.section-margin{
  height: 2500px;
  width: 100%;
}

.section{
  width: 50%;
  padding: 500px 2%;
  margin: 0;
  background-color: var(--color-background);
}

.left{
  margin-right: auto;
} 

.right{
  margin-left: auto;
}

.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-pink);
  padding-bottom: 400px;
}

.section-title-text{
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  border-bottom: 2px solid var(--color-pink);
  color:var(--color-pink);
}

.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-pink);
  font-size: 25px;
}

.section-detail-wrapper{
  margin: 50px 80px;
}

.section-heading{
  margin-top: 80px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-text);
}

.section-text{
  margin-top: 10px;
  font-size: 17px;
  color: var(--color-text);
}

/* Hero ------------------------------------------------------- */
.hero{
  width: 100vw;
  height: 100vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1300px;
  color: var(--color-text);
}

/* Other colours override */
.blue-text {
  color: var(--color-blue);
}

.blue-border {
  border-color: var(--color-blue);
}

.blue-background {
  background-color: var(--color-blue);
}

.green-text {
  color: var(--color-green);
}

.green-border {
  border-color: var(--color-green);
}

.green-background {
  background-color: var(--color-green);
}

/* Media Queries */

@media (max-width: 968px){
  .section{
    width: 100%;
  }
}